.App {
  text-align: center;
  background-image: url("lowpoly.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 3000px;
}

.App-header {
  background-color: #202020;
  min-height: 5vh;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color:#ffffff;
  position: fixed;
  z-index: 1;
}

.Head-logo{
  height:10vmin;
  width: 12vmin;
  margin: 3vmin;
}

.AA-button{
  border: solid;
  background-color: #202020;
  color: white;
  border-radius: 1vmin;
  min-width: 25vmin;
  min-height: 6rem;
  margin-top: 12rem;
  margin-bottom: 4rem;
  padding: 1rem;
  transition-duration: 0.4s;
  opacity: 0.9;
}


.AA-button:hover{
  background-color: rgb(82, 104, 150);
  opacity: 0.8;
}
