.AllBoards{
    width: 100%;
    padding: 2vh;
    padding-top: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}

.Panel{
    background-color: #202020;
    opacity: 0.9;
    border-radius: 3vmin;
    min-width: 45vmin;
    padding: 2vmin;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8vmin;
    color: white;
}

.PanelHead{
    text-align: center;
    width: 100%;
    border-bottom-style: solid;
    border-color: white;
}

.PanelBody{
    text-align: justify;
}

table,th td {
    border-collapse: collapse;   
}

th, td{
    padding-left: 2vmin;
    padding-right: 2vmin;
    padding-top: 2vmin;
    padding-bottom: 1vmin;
}